body {
    /*overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;*/
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

    p.large {
        font-size: 16px;
    }

a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}

a {
    color: #fed136;
}

    a:hover, a:focus, a:active, a.active {
        color: #fec503;
    }

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}


.timeline{list-style:none;padding:0;position:relative}.timeline:before{top:0;bottom:0;position:absolute;content:"";width:2px;background-color:#f1f1f1;left:40px;margin-left:-1.5px}.timeline>li{margin-bottom:50px;position:relative;min-height:50px}.timeline>li:before,.timeline>li:after{content:" ";display:table}.timeline>li:after{clear:both}.timeline>li .timeline-panel{width:100%;float:right;padding:0 20px 0 100px;position:relative;text-align:left}.timeline>li .timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}.timeline>li .timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}.timeline>li .timeline-image{left:0;margin-left:0;width:80px;height:80px;position:absolute;z-index:100;background-color:#fed136;color:#fff;border-radius:100%;border:7px solid #f1f1f1;text-align:center}.timeline>li .timeline-image h4{font-size:10px;margin-top:12px;line-height:14px}.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 20px 0 100px}.timeline>li.timeline-inverted>.timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}.timeline>li.timeline-inverted>.timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}.timeline>li:last-child{margin-bottom:0}.timeline .timeline-heading h4{margin-top:0;color:inherit}.timeline .timeline-heading h4.subheading{text-transform:none}.timeline .timeline-body>p,.timeline .timeline-body>ul{margin-bottom:0}@media (min-width:768px){.timeline:before{left:50%}.timeline>li{margin-bottom:100px;min-height:100px}.timeline>li .timeline-panel{width:41%;float:left;padding:0 20px 20px 30px;text-align:right}.timeline>li .timeline-image{width:100px;height:100px;left:50%;margin-left:-50px}.timeline>li .timeline-image h4{font-size:13px;margin-top:16px;line-height:18px}.timeline>li.timeline-inverted>.timeline-panel{float:right;text-align:left;padding:0 30px 20px 20px}}@media (min-width:992px){.timeline>li{min-height:150px}.timeline>li .timeline-panel{padding:0 20px 20px}.timeline>li .timeline-image{width:150px;height:150px;margin-left:-75px}.timeline>li .timeline-image h4{font-size:18px;margin-top:30px;line-height:26px}.timeline>li.timeline-inverted>.timeline-panel{padding:0 20px 20px}}@media (min-width:1200px){.timeline>li{min-height:170px}.timeline>li .timeline-panel{padding:0 20px 20px 100px}.timeline>li .timeline-image{width:170px;height:170px;margin-left:-85px}.timeline>li .timeline-image h4{margin-top:40px}.timeline>li.timeline-inverted>.timeline-panel{padding:0 100px 20px 20px}}



.navbar-default {
    background-color: white;
    border-color: transparent;
}

    .navbar-default .navbar-brand {
        color: #fed136;
        font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    }

        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
            color: #fec503;
        }

    .navbar-default .navbar-collapse {
        border-color: rgba(255,255,255,.02);
    }

    .navbar-default .navbar-toggle {
        background-color: #fed136;
        border-color: #fed136;
    }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #fff;
        }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: #fed136;
        }

    .navbar-default .nav li a {
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        color: #0f528c;
    }

        .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
            color: #fed136;
            outline: 0;
        }

    .navbar-default .navbar-nav > .active > a {
        border-radius: 0;
        color: #fff;
        background-color: #fed136;
    }

        .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
            color: #fff;
            background-color: #fec503;
        }

@media (min-width:768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0;
    }

        .navbar-default .navbar-brand {
            font-size: 2em;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }

        .navbar-default .navbar-nav > .active > a {
            border-radius: 3px;
        }

        .navbar-default.navbar-shrink {
            background-color: #fbfbfb;
            padding: 10px 0;
        }

            .navbar-default.navbar-shrink .navbar-brand {
                font-size: 1.5em;
            }
}

header {
    background-image: url(../img/header2.png);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;

}

    header .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
    }

        header .intro-text .intro-lead-in {
            font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }

        header .intro-text .intro-heading {
            font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        }

@media (min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

        header .intro-text .intro-lead-in {
            font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-style: italic;
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 25px;
        }

        header .intro-text .intro-heading {
            font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 75px;
            line-height: 75px;
            margin-bottom: 50px;
        }
}

section {
   /* padding: 100px 0; */
}

    section h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    section h3.section-subheading {
        font-size: 16px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }

@media (min-width:768px) {
    section {
        /* padding: 150px 0; */
    }
}



body {
    webkit-tap-highlight-color: #fed136;
}

.espacioBlanco{
    background-color: white;
}

.espacioAzul{
    /*background-image: url(../img/fondoEspacioAzul.png);*/
    background-color: #283bc5;
}

.nosotros{
     
}

.bienvenidos{
   margin-top: 10%;
   padding-right: 200px;
    text-align: center;
}

.qSomos{
    background-image: url(../img/fondoQuienes.png);
}

@media (min-width:1200px) {
    .espacioAzul {
        height: 300px;
    }

    .espacioBlanco {
        height: 300px;
    }

    .nosotros {
        height: 300px;
    }

    .qSomos {
        height: 300px;
    }

}

.navbar-brand {
    float: left;
    height: 75px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.azul{
    vertical-align: middle;
    margin-top: 3%;
    padding: 60px;
}

.rowContenedor1{
    background-color: blue;
    margin-top: 7%;
    margin-right: px;
    height: 20px;
    margin-left: 70px;
}

.rowContenedor1Rigth{

    margin-left: 40px;
}

.contenedor4{
    margin-top: 20%;
    margin-left: 10%;
}

.contenedor4div1{
    text-align: center;
    margin-top:25%;
	font-size: 30px;
}

.contenedor4div3{
    text-align: center;
   	font-size: 30px;
}

.contenedor7{
    background-color: #ddd;
    height: 300px;
}

/*.contenedor8{
    background-color: #283bc5;
}*/


.divcontacto{
     background-color: #2f3a84;
 	    height: 300px;
 }
 
 .divcontacto h3{
 	color:#ffffff;
 }
 
 .btnenviar{
 	background-color:#4066c0;
 	color:#FFFFFF;
 	border:none!important;
 }
 
 
 .myhr{
 	    border-top: 1px solid #000000;
 	    border-top: 1px solid #000000;
 		width:15%;
 		float:left;
 		size:8px;
 }
 #txtdireccion{
 	margin-left:100px;
 	margin-top:10px;
 	font-size:18px;
 }
 

.div1c8{
    FONT-SIZE: 30px;
    color: white;
    margin-top: 12%;
    margin-left: 7%;
}

.div2c8{
    FONT-SIZE: 30px;
    color: white;
    margin-left: 15%;
}

.div3c8{
    FONT-SIZE: 25px;
    color: white;
    margin-left: 15%;
}

.footer{
     background-color:#dde2f1;
	 text-align:center;
	 padding-top:10px;
	 padding-bottom:10px;
	 color:#9fa3b9;
}

.contenedor6{
    background-color:#112f9f;
}

/*pagina compañia*/

/*CONTENEDOR 1*/
.div1ContCom{
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

/*CONTENEDOR 2*/
.divMision{
background-color: #ddd;
}

.divVision{
    background-color: #ddd;
}

/* soluciones */

.divSol1{

    margin-top: 14%;
    margin-left: 20%;
        margin-bottom: 20px;
}


.divcontacto{
   background-color: #2f3a84!important;
   height: 300px;
}

.divcontacto h3{
color:#ffffff;
}

 .btnenviar{
background-color:#4066c0;
color:#FFFFFF;
border:none!important;
 }
 
 .myhr{
    border-top: 1px solid #000000;
	width:15%;
	float:left;
	size:8px;
 }
 
 #txtdireccion{
margin-left:100px;
margin-top:10px;
font-size:18px;
 }
